* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: grid;
    grid-template-columns: 400px auto;
    border: red 1px solid;
    padding: 8px;
}


.nav-items {
    display: flex;
    justify-content:space-between
}
   

li {
    list-style: none;
}

.banner {
    background-image: url();
}
    
    


