@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap'); */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    background-color: white;
    margin: 15rem;
}
    





body {
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 20px;
    align-items: center;
    display: flex;
    font-family:'Raleway', sans-serif;
    justify-content: center;
    width:fit-content;
    height: 100vh;
}


.container-form {
    align-items: center;
    background-color: white;
    border: 2px solid rgb(32, 155, 196);
    border-radius: 10px;
    justify-content: center;
    padding: 1rem;
    margin: 1rem
}

h2 {
    text-align: center;
    color:rgb(32, 155, 196);
}

p {
    color:rgb(32, 155, 196);

}

.



.label-first {
    color:rgb(32, 155, 196);
    font-size: 18px;
    margin: 10px;
    padding: 10px;
}

.label-last {
    color:rgb(32, 155, 196);
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    
}

.label-email {
    color:rgb(32, 155, 196);
    font-size: 18px;
    margin: 10px;
    padding: 10px;
}
    

#message {
    border: 2px solid rgb(32, 155, 196);
}
    

.inputs {
    border: 1px solid rgb(32, 155, 196);
    width: fit-content;
}
    

.submit {
    border: 1px solid rgb(32, 155, 196);
    color: rgb(32, 155, 196);
    background-color: white;
}

.contact-icon {
    float:right;
    padding:8px;
    width: 80px
}

    


  
    
    

    






    
    



    
    
    

    
    
    

  
   
  
    
    