@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap'); */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    background-color: white;
    margin: 50px;
    
}


body {
    background-color: lightgray;
    border-radius: 20px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family:'Raleway', sans-serif;
    
}

.container-form {
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 1rem;
}
    
.first-name, .last-Name, .email {
   
}
  
h2 {
    text-align: center;
}
    
    

    






    
    



    
    
    

    
    
    

  
   
  
    
    